.container {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.header {
  position: absolute;
  width: 50px;
  height: 90px;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.icon {
  font-size: 1.5rem;
  color: "#e9e9e9";
}
/* .container {
  max-width: 1100px;
  width: 100%;
  padding-left: 20px;
} */

.righttextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
